$medium-width: 40vw;
$full-width: 82vw;
$test-width: 100vw;

h1{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #6F2C91;
    margin: 50px 0;
}

form{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2vw;
    margin-top: 35px;
}

    .user-name{
        width: $medium-width;
    }

    .user-id{
        width: $medium-width;
    }

    .webhook-url{
        width: $full-width;
    }

    .jwt-url{
        width: $full-width;
    }

    .client-id{
        width: $medium-width;
    }

    .client-secret{
        width: $medium-width;
    }

    .client-audience{
        width: $medium-width;
    }

.div-botoes{
    display: flex;
    justify-content: flex-end;
}

    .btn-cancel{
        font-family: 'Montserrat', sans-serif;
        font-size: .9rem;
        font-weight: 300;
        background-color: transparent;
        width: 90px;
        margin-right: 20px;
    }

@media only screen and (max-width: 600px)
{
    h1{
        font-size: 2rem;
        font-weight: 600;
    }
}