.div-campos{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

    input{
        height: 20px;
        min-width: 5vw;
        max-width: 80vw;
        width: 80vw;
    }

    h5{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 1rem;
        margin: 5px 0;
    }

.div-botoes{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

    .btn-clear{
        font-family: 'Montserrat', sans-serif;
        font-size: .9rem;
        font-weight: 300;
        background-color: transparent;
        margin-right: 20px;
    }

#filter-mat-card{
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px)
{
    h1{
        font-size: 2rem;
        font-weight: 600;
    }
    mat-card-title{
        font-size: 1.3rem;
    }
    .div-botoes{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}
